body.emb-use-default-styles.emb-mode-source .view-header {
	--file-header-background-focused: rgb(45, 25, 0);
	--file-header-background: rgb(25, 0, 0);
}

body.emb-use-default-styles.emb-mode-preview .view-header {
	--file-header-background-focused: rgb(25, 25, 25);
	--file-header-background: rgb(0, 0, 0);
}
